* {outline: none;}
.menuleft {
    display: inline-block;
    float: left; 
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: rgba(0,0,0,0.04);

    width: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.content {
    position: absolute; 
    padding-left: 20px;
    padding-right: 20px;
}

.submenu {
    height: 40px;
}

body {
    overflow-y: hidden;
}

body.login {
    background-color: whitesmoke;
}
body.login div.align{
    display: block;
    position: absolute;

    width: 300px;
    height: 300px;

    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;   
}

.content .over {
    overflow-y: auto;
    overflow-x: hidden;
}

.content .over::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: transparent;
}

.content .over::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}

.content .over::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 3px solid #dd4b39; 
}

.bbGrid-grid-nav.row {
    padding-top: 10px;
    height: 50px;
    border-radius: 0px;
    margin-top: -1px;
}

.bbGrid-container .bbGrid-pager-container-norowslist {
    width: auto;
}

.bbGrid-container .bbGrid-pager-container {
    width: auto !important;
}

.bbGrid-container .bbGrid-pager-container {
    height: 26px;
    width: 380px;
    left: inherit;
    margin-left: 10px;
    position: absolute;
}
.prop {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px; 
    font-style: italic;
    font-weight: bold;
    text-align: right;
}
.val {
    background-color: whitesmoke;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px; 
    border-left: 2px solid #FFF;
    
}
.bbGrid-row td {
    cursor: pointer;
}